<main *ngIf="fireTruck">
  <div id="back-button-container">
    <button mat-raised-button color="primary" (click)="goBack()">
      <mat-icon>
        arrow_back
      </mat-icon>
    </button>
  </div>
  <div id="name-container">
    <h1>{{fireTruck.name}}</h1>
  </div>
  <div id="buttons-container">
    <div id="edit-button-container">
      <button mat-raised-button color="primary" (click)="edit()">
        <mat-icon>
          edit
        </mat-icon>
      </button>
    </div>
    <div id="delete-button-container">
      <button mat-raised-button color="primary" (click)="deleteFireTruck(fireTruck.id)">
        <mat-icon>
          delete
        </mat-icon>
      </button>
    </div>
  </div>
  <div id="details-container">
    <h2>Details: </h2>
    <mat-list>
      <mat-list-item *ngFor="let k of listContentKeys">
        <p>{{k}}</p>
        <p>{{listContent.get(k)}}</p>
      </mat-list-item>
    </mat-list>
  </div>
  <div id="equipment-container">
    <h2>Equipment:</h2>
    <mat-list>

    </mat-list>
    <div id="add-equipment-button-container">
      <button mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div id="call-outs-container">
    <h2>Call Outs:</h2>
  </div>
</main>
