div#fire-truck-details-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

div.details-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 0.1rem;
}

div#equipment-container {
  width: 100%;
  margin-bottom: 0.5rem;
}
