<main>
  <div class="name-container">
    <div>
      <button mat-icon-button color="primary" (click)="goBack()">
        <mat-icon>
          arrow_back
        </mat-icon>
      </button>
      <h1>
        {{fireTruck.name}}
      </h1>
    </div>
    <div>
      <button mat-icon-button color="primary" (click)="edit()">
        <mat-icon>
          edit
        </mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="deleteFireTruck(fireTruck.id)">
        <mat-icon>
          delete
        </mat-icon>
      </button>
    </div>
  </div>
  <div id="fire-truck-details-container">
    <div id="details-column1" class="details-column">
      <div class="details-list-container">
        <app-fire-truck-detail-list [fireTruck]="fireTruck"></app-fire-truck-detail-list>
      </div>
      <div class="parameters-list-container">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Parameters:
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item *ngFor="let parameter of fireTruck.parameters | keyvalue">
                <p>{{parameter.key}}:</p>
                <p>{{parameter.value}}</p>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div id="details-column2" class="details-column">
      <div id="equipment-container">
        <app-fire-truck-equipment [fireTruckId]="fireTruckId"></app-fire-truck-equipment>
      </div>
      <div class="call-outs-container">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Call Outs:
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <ng-container *ngFor="let callOut of callOuts">
                <app-details-call-outs-item [id]="callOut.id" [alarmDate]="callOut.alarmDate"
                                            [type]="callOut.type"></app-details-call-outs-item>
              </ng-container>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</main>
