<main>
  <div class="list-container">
    <app-call-outs-list (callOutIdToDisplayEvent)="showDetails($event)" ></app-call-outs-list>
  </div>
  <div class="details-container">
    <div *ngIf="displaySummary; else callOutDetail">
      <h2>Summary:</h2>
      <p>Available soon</p>
    </div>
    <ng-template #callOutDetail>
      <app-call-out-detail *ngIf="selectedCallOutId"
                            (displaySummaryEvent)="displaySummaryToggle($event)"
                            [callOutId]="selectedCallOutId">
      </app-call-out-detail>
    </ng-template>
  </div>
</main>
<div class="button-container">
  <button mat-raised-button color="primary" (click)="openDialog()">Add call out</button>
</div>
