<div id="add-equipment-to-fire-truck-dialog">
  <h1 mat-dialog-title>Add equipment</h1>

  <mat-dialog-content id="equipment-select-list" [formGroup]="formGroup">
    <mat-list>
      <mat-list-item *ngFor="let equipment of this.data.remainingEquipment">
        <mat-checkbox formControlName="{{equipment.id}}" color="primary">
          {{equipment.name}}
        </mat-checkbox>
        <div>
          <p>{{equipment.quantity}}</p>
          <p>{{equipment.storageLocation}}</p>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="true" (click)="close()">
      Close
    </button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" type="submit"
            [disabled]="!formGroup.valid" (click)="save()">
      Add
    </button>
  </mat-dialog-actions>
</div>
