<form id="details-container" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
  <mat-form-field appearance="outline">
    <mat-label>Firstname</mat-label>
    <input matInput formControlName="firstname">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Lastname</mat-label>
    <input matInput formControlName="lastname">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Joining Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="joiningDate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>PESEL</mat-label>
    <input matInput formControlName="pesel">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Address</mat-label>
    <input matInput formControlName="address">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>City</mat-label>
    <input matInput formControlName="city">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Periodic Examinations Expiry Date</mat-label>
    <input matInput [matDatepicker]="picker2" formControlName="periodicExaminationsExpiryDate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <mat-checkbox formControlName="isDriver">Is Driver?</mat-checkbox>

  <mat-form-field appearance="outline">
    <mat-label>Birthdate</mat-label>
    <input matInput [matDatepicker]="picker3" formControlName="birthdate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
    <mat-datepicker #picker3></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Blood Type</mat-label>
    <input matInput formControlName="bloodType">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>E-mail</mat-label>
    <input matInput type="email" formControlName="email">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Phone Number</mat-label>
    <input matInput type="email" formControlName="phoneNumber">
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true" type="submit"
            [disabled]="!formGroup.valid">Add member
    </button>
  </div>
</form>
