<main>
  <div id="garage-list-container" class="list-container">
    <app-garage-list (fireTruckIdToDisplayEvent)="showDetails($event)"></app-garage-list>
  </div>
  <div id="garage-details-container" class="details-container">
    <div *ngIf="displaySummary; else fireTruckDetail">
      <h2>Summary:</h2>
      <p>Available soon</p>
    </div>
    <ng-template #fireTruckDetail>
      <app-fire-truck-detail *ngIf="selectedFireTruckId"
                             (displaySummaryEvent)="displaySummaryToggle($event)"
                             [fireTruckId]="selectedFireTruckId">
      </app-fire-truck-detail>
    </ng-template>
  </div>
</main>
<div class="button-container">
  <button mat-raised-button color="primary" (click)="openDialog()">Add fire truck</button>
</div>
