<main>
  <div class="name-container">
    <div>
      <button mat-icon-button color="primary" (click)="goBack()">
        <mat-icon>
          arrow_back
        </mat-icon>
      </button>
      <h1>
        {{equipment.name}}
      </h1>
    </div>
    <div>
      <button mat-icon-button color="primary" (click)="edit()">
        <mat-icon>
          edit
        </mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="deleteEquipment(equipment.id)">
        <mat-icon>
          delete
        </mat-icon>
      </button>
    </div>
  </div>
  <div class="details-list-container">
    <app-equipment-detail-list [equipment]="equipment"></app-equipment-detail-list>
  </div>
  <div class="parameters-list-container">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Parameters:
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let p of equipment.parameters | keyvalue">
            <p>{{p.key}}:</p>
            <p>{{p.value}}</p>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</main>
