<main *ngIf="member">
  <div id="back-button-container">
    <button mat-raised-button color="primary" (click)="goBack()">
      <mat-icon>
        arrow_back
      </mat-icon>
    </button>
  </div>
  <div id="name-container">
    <h1>{{member.firstname}} {{member.lastname}}</h1>
  </div>
  <div id="delete-button-container">
    <button mat-raised-button color="primary" (click)="deleteMember(member.id)">
      <mat-icon>
        delete
      </mat-icon>
    </button>
  </div>
  <div id="details-container">
    <h2>Details: </h2>
    <mat-list>
      <mat-list-item>
        <p>Driver:
        </p>
        <p>
          <mat-icon *ngIf="member.isDriver; else elseBlock">done</mat-icon>
          <ng-template #elseBlock>
            <mat-icon>close</mat-icon>
          </ng-template>
        </p>
        <button mat-icon-button class="editButton">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item *ngFor="let k of listContentKeys">
        <p>{{k}}</p>
        <p>{{listContent.get(k)}}</p>
        <button mat-icon-button class="editButton">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
  <div id="trainings-container">
    <h2>Trainings:</h2>
    <mat-list>
      <mat-list-item *ngFor="let t of trainings">
        <p>{{t.type}}</p>
        <p>Date: {{t.trainingDate | date: 'dd.MM.YYYY'}}</p>
        <p>Exp. date: {{t.expirationDate | date: 'dd.MM.YYYY'}}</p>
        <button mat-icon-button class="editButton" (click)="deleteTraining(t.type)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <div id="add-training-button-container">
      <button mat-raised-button color="primary" (click)="openDialog(this.member.id)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div id="call-outs-container">
    <h2>Call Outs</h2>
  </div>
</main>
