<main>
  <div class="name-container">
    <div>
      <button mat-icon-button color="primary" (click)="goBack()">
        <mat-icon>
          arrow_back
        </mat-icon>
      </button>
      <h1>
        {{member.firstname}} {{member.lastname}}
      </h1>
    </div>
    <div>
      <button mat-icon-button color="primary" (click)="edit()">
        <mat-icon>
          edit
        </mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="deleteMember(member.id)">
        <mat-icon>
          delete
        </mat-icon>
      </button>
    </div>
  </div>
  <div class="details-list-container">
    <app-member-detail-list [member]="member"></app-member-detail-list>
  </div>
  <div id="trainings-container">
    <app-member-trainings [member]="member"></app-member-trainings>
  </div>
  <div class="call-outs-container">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Call Outs:
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <ng-container *ngFor="let c of callOuts">
            <app-details-call-outs-item [id]="c.id" [alarmDate]="c.alarmDate"
                                        [type]="c.type"></app-details-call-outs-item>
          </ng-container>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</main>
