<mat-accordion>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Details:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngIf="equipment.serialNumber">
        <p>Serial number:</p>
        <p>{{equipment.serialNumber}}</p>
      </mat-list-item>
      <mat-list-item>
        <p>Quantity:</p>
        <p>{{equipment.quantity}}</p>
      </mat-list-item>
      <mat-list-item>
        <p>Category:</p>
        <p>{{equipment.category}}</p>
      </mat-list-item>
      <mat-list-item>
        <p>Storage location:</p>
        <p>{{equipment.storageLocation.name}}</p>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
