mat-form-field {
  display: block;
  min-width: 500px;
  margin: 10px 0;
}

#add-param-button-container {
  text-align: center;
  margin: 1rem 0;
}

.fire-truck-params {
  border-top: 0.1rem dashed #d3d3d3;
  margin: 10px 0;
}
