<div id="add-fire-truck-dialog">
  <h1 mat-dialog-title>{{title}}</h1>

  <mat-dialog-content id="details-container" [formGroup]="formGroup">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Image *</mat-label>
      <input hidden matInput type="number" value="0">
      <app-file-upload-input formControlName="image"></app-file-upload-input>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>VIN</mat-label>
      <input matInput formControlName="vin">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Production year</mat-label>
      <mat-select formControlName="productionYear">
        <mat-option *ngFor="let year of selectableYears" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>License plate</mat-label>
      <input matInput formControlName="licensePlate">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Operational number</mat-label>
      <input matInput formControlName="operationalNumber">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <input matInput formControlName="type">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Total weight</mat-label>
      <input matInput type="number" formControlName="totalWeight">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Horsepower</mat-label>
      <input matInput type="number" formControlName="horsepower">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Number of seats</mat-label>
      <input matInput type="number" formControlName="numberOfSeats">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mileage</mat-label>
      <input matInput type="number" formControlName="mileage">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Technical review expiry date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="technicalReviewExpiryDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Insurance expiry date</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="insuranceExpiryDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <app-dynamic-parameters-input [formGroup]="formGroup"
                                  [parametersData]="parametersData">
    </app-dynamic-parameters-input>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="true" (click)="close()">
      Close
    </button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" type="submit"
            [disabled]="!formGroup.valid" (click)="save()">
      {{title}}
    </button>
  </mat-dialog-actions>
</div>
