<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Equipment:
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let equipment of fireTruckEquipment">
        <p>{{equipment.name}}</p>
        <p>{{equipment.serialNumber}}</p>
        <button mat-icon-button class="deleteButton" (click)="removeEquipment(equipment.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button color="primary" (click)="openDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
