// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.
@use 'src/theme' as custom;
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$first-frontend-primary: mat.define-palette(custom.$mat-primary);
$first-frontend-accent: mat.define-palette(custom.$mat-accent, A200, A100, A400);

// The warn palette is optional (defaults to red).
$first-frontend-warn: mat.define-palette(custom.$mat-warn);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$first-frontend-theme: mat.define-light-theme((
  color: (
    primary: $first-frontend-primary,
    accent: $first-frontend-accent,
    warn: $first-frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-colors($first-frontend-theme);

/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 500px;
  min-width: 600px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #9b2423 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #9b2423;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
