<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Trainings:
      </mat-panel-title>
      <mat-panel-description>
        Type | ID | Date | Expiration date
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let training of member.trainings">
        <p>{{training.type}}</p>
        <p>{{training.id}}</p>
        <p>{{training.trainingDate | date: 'dd.MM.YYYY'}}</p>
        <p [style.visibility]="training.expirationDate? 'visible': 'hidden'">
          {{training.expirationDate | date: 'dd.MM.YYYY'}}</p>
        <button mat-icon-button class="deleteButton" (click)="deleteTraining(training.type)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button color="primary" (click)="openDialog(this.member.id)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
