<main>
  <div class="list-container">
    <app-members-list (memberIdToDisplayEvent)="showDetails($event)" ></app-members-list>
  </div>
  <div class="details-container">
    <div *ngIf="displaySummary; else memberDetail">
      <h2>Summary:</h2>
      <p>Available soon</p>
    </div>
    <ng-template #memberDetail>
      <app-member-detail *ngIf="selectedMemberId"
                         (displaySummaryEvent)="displaySummaryToggle($event)"
                         [memberId]="selectedMemberId">
      </app-member-detail>
    </ng-template>
  </div>
</main>
<div class="button-container">
  <button mat-raised-button color="primary" (click)="openDialog()">Add member</button>
</div>

