<main>
  <div class="list-container">
    <app-equipment-list (equipmentIdToDisplayEvent)="showDetails($event)" ></app-equipment-list>
  </div>
  <div class="details-container">
    <div *ngIf="displaySummary; else equipmentDetail">
      <h2>Summary:</h2>
      <p>Available soon</p>
    </div>
    <ng-template #equipmentDetail>
      <app-equipment-detail *ngIf="selectedEquipmentId"
                         (displaySummaryEvent)="displaySummaryToggle($event)"
                         [equipmentId]="selectedEquipmentId">
      </app-equipment-detail>
    </ng-template>
  </div>
</main>
<div class="button-container">
  <button mat-raised-button color="primary" (click)="openDialog()">Add equipment</button>
</div>
