<div id="add-callout-dialog">
  <h1 mat-dialog-title>{{title}}</h1>
  <mat-dialog-content id="details-container" [formGroup]="formGroup">
    <div class="callout-time-picker">

      <mat-form-field appearance="outline" class="callout-time-form-field">
        <mat-label>Alarm date</mat-label>
        <input matInput [max]="maxDate" [matDatepicker]="picker" formControlName="alarmDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="callout-time-form-field">
        <mat-label>Hour</mat-label>
        <mat-select formControlName="alarmHour">
          <mat-option *ngFor="let hour of hours" [value]="hour">
            {{hour}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="callout-time-form-field">
        <mat-label>Minutes</mat-label>
        <mat-select formControlName="alarmMinutes">
          <mat-option *ngFor="let minute of minutes" [value]="minute">
            {{minute}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type" required>
        <mat-option *ngFor="let type of calloutTypes" value="{{type}}">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Location</mat-label>
      <input matInput formControlName="location">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Details</mat-label>
      <input matInput formControlName="details">
    </mat-form-field>

    <app-add-section-form [formGroup]="formGroup"
                          [sectionsData]="sectionsData">
    </app-add-section-form>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="true" (click)="close()">
      Close
    </button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" type="submit"
            [disabled]="!formGroup.valid" (click)="save()">
      {{title}}
    </button>
  </mat-dialog-actions>
</div>
