mat-form-field {
  display: block;
  min-width: 500px;
  margin: 10px 0;
}

div.callout-time-picker {
  min-width: 500px;
  display: flex;
  margin: 10px 0;
}

mat-form-field.callout-time-form-field {
  display: block;
  min-width: 0;
  margin: 0;
}

