mat-toolbar {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.3vh solid black;
  min-width: 720px;
}

img#toolbar-logo {
  height: 60%;
  width: auto;
  margin: 0 10%;
  -webkit-user-drag: none;
  user-select: none;
}

h1 {
  width: 50vw;
  text-align: center;
  font-size: 4vh;
  font-weight: 900;
  cursor: pointer;
}

div {
  width: 25vw;
  height: 100%;
}

#menu-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#notification-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


mat-icon {
  font-size: 5vh;
  height: 5vh;
  width: 5vh;
}

mat-sidenav-container {
  position: absolute;
  top: 10vh;
  bottom: 0;
  left: 0;
  right: 0;
}

img#sidenav-logo {
  height: 20vh;
  width: auto;
  margin: 1vh;
  -webkit-user-drag: none;
  user-select: none;
}

a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



